ConsumirWebServiceFeminicidio/Connected Services/SR/FeminicidiosWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://intec.edu.do" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://intec.edu.do" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://intec.edu.do">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verdugo" type="tns:Verdugo" />
            <s:element minOccurs="0" maxOccurs="1" name="indicio" type="tns:Indicio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Verdugo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TipoDocumento" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaEvento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CantidadHijos" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Vivo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Preso" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Indicio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistrarDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarDatosResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tipo" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarDatosSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarDatos" />
  </wsdl:message>
  <wsdl:message name="RegistrarDatosSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarDatosResponse" />
  </wsdl:message>
  <wsdl:portType name="FeminicidiosWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarDatos">
      <wsdl:input message="tns:RegistrarDatosSoapIn" />
      <wsdl:output message="tns:RegistrarDatosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FeminicidiosWebServiceSoap" type="tns:FeminicidiosWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://intec.edu.do/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarDatos">
      <soap:operation soapAction="http://intec.edu.do/RegistrarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FeminicidiosWebServiceSoap12" type="tns:FeminicidiosWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://intec.edu.do/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarDatos">
      <soap12:operation soapAction="http://intec.edu.do/RegistrarDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FeminicidiosWebService">
    <wsdl:port name="FeminicidiosWebServiceSoap" binding="tns:FeminicidiosWebServiceSoap">
      <soap:address location="https://localhost:44359/FeminicidiosWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="FeminicidiosWebServiceSoap12" binding="tns:FeminicidiosWebServiceSoap12">
      <soap12:address location="https://localhost:44359/FeminicidiosWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>